body{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

header{
    display: flex;
    flex-direction: column;
    border: 2px solid red;
    border-radius: 1.5vw;
    background-image: url(./img/snow_winter_trees.webp);
    background-size: cover;
    padding: 5px;
    text-align: center;
    font-family: "Caveat", Verdana;
}

.header_logos{
    border: 2px solid red;
    border-radius: 1.5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    gap: 5px;
}

.header_logos > img{
    height: 100%;
    width: auto;
    max-height: 30px;
    border: 2px solid black;
    border-radius: 1vw;
}

nav{
    display: none;
}

main{
    border: 2px solid red;
    border-radius: 1.5vw;
}

article{
    border: 2px solid red;
    border-radius: 1.5vw;
    margin: 5px;
}

.img{
    display: none;
}

footer{
    text-align: center;
    border: 2px solid red;
    border-radius: 1.5vw;
}

@media screen and (min-width: 641px) and (max-width: 1007px){
    body{
        display: grid;
        grid-template-columns: 15vw, 80vw;
        grid-template-rows: 30vh, 60vh, 5vh;
    }

    header{
        grid-column: 1/3;
        grid-row: 1/2;
        font-size: calc(2rem + .5vw);
    }

    .header_logos{
        flex-direction: row;
        justify-content: space-around;
        padding-top: 2vh;
        padding-bottom: 2vh;
    }

    .header_logos > img{
        max-height: 40px;
    }

    nav{
        display: flex;
        flex-direction: column;
        grid-column: 1/2;
        grid-row: 2/3;
        max-width: 10vw;
        text-align: center;
        border: 2px solid red;
        border-radius: 1.5vw;
        gap: 1vh;
    }

    nav > img{
        border: 2px solid black;
        border-radius: 1vw;
        height: 100%;
        width: auto;
        max-height: 30px;
    }

    main{
        grid-column: 2/3;
        grid-row: 2/3;
        font-size: calc(1rem + .5vw);
    }

    article > p{
        margin-bottom: 3vh;
    }

    footer{
        grid-column: 1/3;
        grid-row: 3/4;
    }
}

@media screen and (min-width: 1008px){
    body{
        display: grid;
        grid-template-columns: 14vw 70vw 14vw;
        grid-template-rows: 30vh 64vh 3vh;
    }

    header{
        grid-column: 1/4;
        grid-row: 1/2;
        font-size: calc(1rem + .5vw);
    }

    .header_logos{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .header_logos > img{
        max-height: 40px;
        margin-top: 2vw;
        margin-bottom: 2vw;
    }

    nav{
        display: flex;
        flex-direction: column;
        grid-column: 1/2;
        grid-row: 2/3;
        text-align: center;
        border: 2px solid red;
        border-radius: 1.5vw;
        gap: 2vh;
    }

    nav > img{
        border: 2px solid black;
        border-radius: 1vw;
    }

    main{
        grid-column: 2/3;
        grid-row: 2/3;
    }

    article{
        height: 97%;
        font-size: calc(1rem + .4vw);
    }

    .img{
        grid-column: 3/4;
        grid-row: 2/3;
        display: contents; 
    }

    .img > img{
        border: 2px solid red;
        border-radius: 1.5vw;   
        height: 100%;
        width: auto;
        max-height: 99%;
        max-width: 99%;
    }

    footer{
        grid-column: 1/4;
        grid-row: 3/4;
    }
}